@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    background-color: #477dca;
    border-radius: 3px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 1em;
    font-weight: 600;
    line-height: 1;
    padding: 0.75em 1em;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap
}

button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
button:hover,
button:focus {
    background-color: #2c5999;
    color: #fff
}

button:disabled,
input[type="button"]:disabled,
input[type="reset"]:disabled,
input[type="submit"]:disabled,
button:disabled {
    cursor: not-allowed;
    opacity: 0.5
}

fieldset {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    margin: 0 0 0.75em;
    padding: 1.5em
}

input,
label,
select {
    display: block;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 1em
}

label {
    font-weight: 600;
    margin-bottom: 0.375em
}

label.required::after {
    content: "*"
}

label abbr {
    display: none
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
select[multiple=multiple],
textarea {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 1em;
    margin-bottom: 0.75em;
    padding: 0.5em;
    transition: border-color;
    width: 100%
}

input[type="color"]:hover,
input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="email"]:hover,
input[type="month"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="text"]:hover,
input[type="time"]:hover,
input[type="url"]:hover,
input[type="week"]:hover,
textarea:hover,
select[multiple=multiple]:hover,
textarea:hover {
    border-color: #c4c4c4
}

input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
textarea:focus,
select[multiple=multiple]:focus,
textarea:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none
}

textarea {
    resize: vertical
}

input[type="search"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
    margin-right: 0.375em
}

input[type="file"] {
    padding-bottom: 0.75em;
    width: 100%
}

select {
    margin-bottom: 1.5em;
    max-width: 100%;
    width: auto
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0
}

dl {
    margin-bottom: 0.75em
}

dl dt {
    font-weight: bold;
    margin-top: 0.75em
}

dl dd {
    margin: 0
}

table {
    -webkit-font-feature-settings: "kern", "liga", "tnum";
    -moz-font-feature-settings: "kern", "liga", "tnum";
    -ms-font-feature-settings: "kern", "liga", "tnum";
    font-feature-settings: "kern", "liga", "tnum";
    border-collapse: collapse;
    margin: 0.75em 0;
    table-layout: fixed;
    width: 100%
}

th {
    border-bottom: 1px solid #b7b7b7;
    font-weight: 600;
    padding: 0.75em 0;
    text-align: left
}

td {
    border-bottom: 1px solid #ddd;
    padding: 0.75em 0
}

tr,
td,
th {
    vertical-align: middle
}

body {
    -webkit-font-feature-settings: "kern", "liga", "pnum";
    -moz-font-feature-settings: "kern", "liga", "pnum";
    -ms-font-feature-settings: "kern", "liga", "pnum";
    font-feature-settings: "kern", "liga", "pnum";
    -webkit-font-smoothing: antialiased;
    color: #333;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 1em;
    line-height: 1.5
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 1em;
    line-height: 1.2;
    margin: 0 0 0.75em
}

p {
    margin: 0 0 0.75em
}

a {
    color: #477dca;
    text-decoration: none;
    transition: color 0.1s linear
}

a:active,
a:focus,
a:hover {
    color: #2c5999
}

a:active,
a:focus {
    outline: none
}

hr {
    border-bottom: 1px solid #ddd;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 1.5em 0
}

img,
picture {
    margin: 0;
    max-width: 100%
}

body {
    background: whitesmoke;
    font-family: 'Raleway', sans-serif
}

.page {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding: 5rem 0
}

.page::after {
    clear: both;
    content: "";
    display: table
}

.intro,
.insta-results {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto
}

.intro::after,
.insta-results::after {
    clear: both;
    content: "";
    display: table
}

.intro {
    margin-bottom: 3.125rem
}

.intro-content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-left: 34.11922%
}

.intro-content:last-child {
    margin-right: 0
}

header h1 {
    text-align: center;
    font-size: 1.875rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 4.375rem
}

.block {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    margin-bottom: 1.875rem
}

.block:last-child {
    margin-right: 0
}

.block:nth-child(4n) {
    margin-right: 0
}

.block:nth-child(4n+1) {
    clear: left
}

.result-message {
    margin: 1.875rem 0;
    font-size: 1.125rem;
    color: #338fd2;
    font-weight: 400;
    text-align: center
}

button.secondary {
    background-color: #dadada;
    color: #444
}

.button-wrap {
    text-align: center
}